
<% @categories.each do |category| %>
	<h4><%= link_to category.name, category %><span style="margin-left:50px;"><%= link_to "See All", category %></span></h4>
	<div id="product_container">
		<% getAllProducts(category.id) %>
		<% i = 0 %>
		<% @products.each do |product| %>
			<% if i < 4 %>
				<div class="product">
					<span><%= link_to product.name, product %> </span><br />
					<span><%= image_tag(product.imagepath, :size => "100x100", :alt => product.name) %> </span><br />
					<span id="price"><b><%= number_to_currency(product.price) %> </b></span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span style="vertical-align:middle;"><%= link_to "Add to Cart", "/pages/add_to_cart/"+product.id.to_s %> </span>
				</div>
				<% i = i+1 %>
			<% end %>
		<% end %>
	</div>
<% end %>
<%= will_paginate %>