<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <table align="center">
  <tr class="field">
    <td class="fld_label"><span style="color:red">*</span><%= f.label :name, "Name:"  %></td>
    <td class="fld_input"><%= f.text_field :name, :size => "50" %></td>
  </tr>
  <tr class="field">
    <td class="fld_label"><span style="color:red">*</span><%= f.label :description, "Description:" %></td>
    <td class="fld_input"><%= f.text_area :description, :rows => "5", :cols => "38" %></td>
  </tr>
  <tr class="actions">
    <td class="fld_label"> </td>
    <td class="fld_input"><%= f.submit "Submit" %></td>
  </tr>
</table>
<% end %>
